
#card {
    margin-bottom: 15px;

}

#card-header {
    margin-bottom: 15px;
}

#card-body {
    margin-bottom: 15px;
}
#card-subtitle {
    margin-top: 5px;
}

#card-select{
    margin-bottom: 10px;
}

#card-option {

}
